# =========================
# IGNORER DATASETS
# =========================
data/tweets.csv

# =========================
# MODELES SAUVEGARDES
# =========================
models_saved/
distilbert_output/
distilbert_results/
distilbert_model/
tokenized_distilbert_dataset/
tmp_trainer/
mlruns/
logs/
env_p7_MLOps/
models/
/huggingface_space/

# EXCEPTION : garder le dossier src/api/models_saved vide
!src/api/models_saved/
!src/api/models_saved/.gitkeep
!

# =========================
# FICHIERS TEMPORAIRES
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log
*.db
*.sqlite
.DS_Store

# =========================
# FICHIERS MODELES OU LOURDS
# =========================
*.pkl
*.joblib
*.h5
*.txt
!requirements.txt

# =========================
# NOTEBOOKS
# =========================
**/.ipynb_checkpoints/

# =========================
# FICHIERS ENV
# =========================
.env
